@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');

/* common style */
        * {
            box-sizing: border-box;
        }

        /* body 선택자에 기본 폰트 크기와 글꼴을 넣어주세요 */
        body {
            font-size: 18px;
            background: #a1a1a1;
           
        }

        /* 추가 reset 사항이 있으면 아래에 적어주세요. */
        a {
            color:inherit;
            text-decoration: none;
        }
        .clearfix::after{
            content: '';
            display: block;
            clear: both;
        }

        /* 사용할 화면 크기 */
        
        .main-screen{
            margin: 20px 20%;
            width: 60%;
            height: 70VH;
            border-top: 0;
            }

        header{
            width: 100%;
            height: 91px;
            background-color: rgb(133, 20, 20);
        }

        footer{
            width: 100%;
            height: 20vh;
           
        }

       
